@keyframes clickEffect {
    0% { transform: scale(1); }
    50% { transform: scale(0.98); }
    100% { transform: scale(1); }
}

@keyframes clickEffect {
    0% { transform: scale(1); }
    50% { transform: scale(0.98); }
    100% { transform: scale(1); }
}

.food-item {
    width: 300px;
    margin: 15px auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: all 0.3s ease;
    animation: fadeIn 1s;
    overflow: hidden;
    cursor: pointer;
}

.food-item:active {
    animation: clickEffect 0.3s ease;
    box-shadow: 0px 0px 20px #00000025;
}

.food-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.food-item-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.food-item-info{
    padding: 20px;
}
.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.food-item-name-rating p {
    font-size: 18px;
    font-weight: 600;
    color: #1a1a1a;
}

.food-item-desc {
    color: #676767;
    font-size: 14px;
    margin-bottom: 10px;
}

.food-item-price {
    color: tomato;
    font-size: 20px;
    font-weight: 600;
}
.food-item-name-rating p{
    font-size: 20px;
    font-weight: 500;
}
